body {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    height: 100%;
    margin: 0;
}

.background {
    background-image: url('assets/bg.png');
    background-size: cover;
    flex-grow: 0;
    flex-shrink: 1;
    height: 100%;
    width: 100%;
}

.login-container {
    background-color: #312745;
    bottom: 0;
    color: #fff;
    flex-grow: 1;
    flex-shrink: 0;
    height: 200px;
    text-align: center;
    width: 100%;
}


h1 {
    display: inline-block;
    font-weight: 100;
    margin-top: 0;
    padding-bottom: 15px;
    position: relative;
}

h1 span {
    bottom: 0;
    color: #7084e0;
    font-size: .5em;
    position: absolute;
    right: 0;
}

.social-links {
    font-size: 60px;
}

.social-links a {
    color: #fff;
    display: inline-block;
    margin: 0 15px;
}

.social-links a:hover {
    color: #7084e0;
    transform: scale(1.2);
    transition: all ease-in .1s;
}
