html
    head
        title='Identity Provider'
        base(href='/')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name='charset' content='UTF-8')
        link(href='plain/styles.css' rel='stylesheet')
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(rel=' stylesheet' href='https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap')
        link(rel=' stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto&display=swap')
        script(src='https://kit.fontawesome.com/2bf6f1b5d2.js' crossorigin='anonymous')
    body
        h1 Yellow Bat Team Identity Provider
        div(class="tag") identity-as-a-service
        section
            p This service provide ability to any application to use social media authorization by oauth.
            p Only one thing that you should do add link to the your identity adapter on your page and then exchange the code for the token

        section
            h2 How it works
            ol
                li The user click on the link (e.g. https://api.webtech.by/identity/ivwa/login?redirect_url=https://vk.com)
                li The user is redirected to the your styled page and have the options for authorization
                li The user is authorized by any social media and redirected back to your application
                li Your backend application should read the code from URL and exchange it to JWT token by API
                li Your application can read the user details by making call to API

        section
            h2 API
            ul
                li
                    span(class="method") POST
                    code https://webtech.by/identity/token
                    span The API for exchange code to token ({ code: string})
                li
                    span(class="method") GET
                    code https://webtech.by/identity/me
                    span The API for recievent the user details

        section
            h2 Supported Clients
            ul
                li Github
                li Facebook (WIP)

