<html>
<head>
    <title>Identity Provider</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="charset" content="UTF-8"/>
    <link rel=" stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&amp;display=swap" />
    <link rel=" stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" />
    <link href="plain/error.styles.css" rel="stylesheet" />
</head>

<body>
<main class="message">
    <h1><img src="plain/assets/bat.png"/> Oh no!</h1>
    <p class="heading">Looks like we are unable to find the correct client for the authorization.</p>
    <p>Please try again later or contact to your service provider.</p>
    <p>If you are the service provider you can contact with <a href="mailto:x_vint@bk.ru">Yellow Bat Team</a>.</p>
</main>
</body>
</html>
