body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    align-items: center;
    padding: 15px;
    background: #100c00;
    color: #ffcc33;
    display: flex;
    justify-content: space-between;
}

.tag {
    background: white;
    color: #100c00;
    height: max-content;
    padding: 5px 10px;
    font-size: 0.5em;
}

section {
    padding: 0 15px;
}

code {
    background: lightgray;
    padding: 3px;
    margin-right: 5px;
}

li * {
    vertical-align: middle;
}

.method {
    background: #100c00;
    color: white;
    padding: 0 5px;
    font-size: 15px;
    margin-right: 5px;
}
